{% extends 'base.html' %}
{% load static %}

{% block title %}
Mini Game: {{game.name}}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}"> 
{% endblock %}

{% block content %}
    <section class="game_section game_section_board">
     <div class="r1">
        {% for field in r1 %}
        <div class= 'game_field --row'><div class='game_field__header'> {{field.name}}</div></div>
        {% endfor %}
     </div>
     <div class="r2 ">
        {% for field in r2 %}
        <div class= 'game_field --col'>
            <div class='game_field__header'>
                {{field.name}}
            </div>
        </div>
        {% endfor %}
     </div>
     <div class="r3">
        {% for field in r3 %}
        <div class= 'game_field --row'><div class='game_field__header'> {{field.name}}</div></div>
        {% endfor %}
     </div>
     
     <div class="r4">
        {% for field in r4 %}
        <div class= 'game_field --col'>
            <div class='game_field__header'>
                {{field.name}}
            </div>
        </div>
        {% endfor %}
     </div>
      <div class="inner_board"></div>

    </section>
    <section class = "game_section game_section_sidebar">
        <div class="game_section_sidebar_top">
            <article class="sidebar_top__sidebar_header">
                <h2 class="playerName_header">{{player}}</h2>
            </article>
            <article class="sidebar_top__player_info __sidebar_item">
                <div class= '__sidebar_item_action'><h4>Player Info:</h4></div>
                    {% if  game.is_played %}
                    <h4>Spectator Mode</h4>
                    {% endif %}
            </article>
            <article class="sidebar_top__game_stats __sidebar_item">
                <div class= '__sidebar_item_action'><h4>Player capital:</h4></div>
            </article>
            <article class="sidebar_top__game_actions __sidebar_item">
            <div class="game_actions">
                <div class= '__sidebar_item_action'><h4>Player Actions:</h4></div>
                <div class="__sidebar_menu_column">            
                        <input type ="button" value="ROLL DICE" class="__sidebar_item_action --roll_btn">
                        <input type ="button" value="BUY" class="__sidebar_item_action --buy_btn">
                        <input type ="button" value="SELL PROPERTY" class="__sidebar_item_action --sell_btn">
                        <input type ="button" value="USE BONUS" class="__sidebar_item_action --bonus_btn">
                        <input type ="button" value="END TURN" class="__sidebar_item_action --end_turn_btn">  
                </div>
            </div>
            </article>
            <article class="sidebar_top__global_actions  __sidebar_item">
                <div class= '__sidebar_item_action'><h4>Game options:</h4></div>
                <div class="__sidebar_menu_column">
                    <!-- if player in game -->
                    <input type = "button" value = "END GAME" class= "__sidebar_item_action --end_game_btn">
                    <input type = "button" value = "LEAVE GAME" class= "__sidebar_item_action --leave_game_btn">
                    <!-- if not in game-->
                    <input type ="button" value="START GAME" class="__sidebar_item_action --start_btn">
                    <input type ="button" value="READY" class="__sidebar_item_action --ready_btn">

                    {% if user.username == game.host %}
                    <input type ="button" value="DELETE" class="__sidebar_item_action --delete_btn">
                        {% endif %}
                    <input type ="button" value="HOME" class="__sidebar_item_action --home_btn"> 
                </div>
        </article>
        </div>
        <hr>
        <div class="game_section_sidebar_bottom">
            <h4>Hosted by {{game.host}}</h4>
            {% if game.is_played %}
            <h5 class = "notification-item">Game has already started!</h5>
                {% else %}
            <h5 class  = "notification-item">Game hasn't started yet.</h5>
                {% endif %}
            <hr>
                {% if game.is_played %}
            <p>Players in game: (
                {% for player in players_playing %}
                {{player}},
                {% endfor %})
            </p>
            <hr>
            <div class = '--menu'>
                {{game.turn_of_player}} turn!
                    {% else %}
                <p class = "players_ready_text">Players ready:</p>
                Max Players: {{game.max_players}}
                    {% endif %}
            </div>
            <hr>
            <p class="notification-board"><p>
        </div>
    </section>
</div>
<script type="module" src="{% static 'js/receiver.js' %}"></script>
<script type="module" src="{% static 'js/game.js' %}"></script>
{% endblock %}
