{% extends 'base.html' %}
{% load static %}

{% block title %}
Mini Game: {{game.name}}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}"> 
{% endblock %}

{% block content %}
    <section class="game_section game_section_board">
     <div class="r1">
        {% for field in r1 %}
        <div class= 'game_field --row'><div class='game_field__header'> {{field.name}}</div></div>
        {% endfor %}
     </div>
     <div class="r2 ">
        {% for field in r2 %}
        <div class= 'game_field --col'>
            <div class='game_field__header'>
                {{field.name}}
            </div>
        </div>
        {% endfor %}
     </div>
     <div class="r3">
        {% for field in r3 %}
        <div class= 'game_field --row'><div class='game_field__header'> {{field.name}}</div>
  
        </div>

        {% endfor %}
     </div>
     
     <div class="r4">
        {% for field in r4 %}
        <div class= 'game_field --col'>
            <div class='game_field__header'>
                {{field.name}}
            </div>
        </div>
        {% endfor %}
     </div>
    <div class="inner_board">
        <div class="actionField">
            <div class="diceArea">
                <img src="" alt="" class="dice">
            </div>
        </div>
    </div>

    </section>
    <section class = "game_section game_section_sidebar">
        <div class="game_section_sidebar_top">
            <article class="sidebar_top__sidebar_header">
                <h2 class="playerName_header">{{player}}</h2>
            </article>
            <article class="sidebar_top__player_info __sidebar_item">
                    <img class="userImage" src="{%static 'img/placeholder.png'%}" alt="">
                            <div class="moneyMoney __sidebar_menu_column">
        
                                <p class = "moneyField"></p>
                                <p class="estates">Estates:</p>
                                <p class="bonuses">Bonuses:</p>
                                <div class="timer"></div>
        
                    </article>
                </div>

            </article>
                <article class="sidebar_top__game_actions __sidebar_item">
                <div class="game_actions">
                    <div class="__sidebar_menu_column --invis">            
                            <input type ="button" value="ROLL DICE" class="__sidebar_item_action --roll_btn">
                            <input type ="button" value="BUY" class="__sidebar_item_action --buy_btn">
                            <input type ="button" value="SELL PROPERTY" class="__sidebar_item_action --sell_btn">
                            <input type ="button" value="USE BONUS" class="__sidebar_item_action --bonus_btn">
                            <input type ="button" value="END TURN" class="__sidebar_item_action --end_turn_btn">  
                    </div>
                </div>
                </article>
                <article class="sidebar_top__global_actions  __sidebar_item">
                    <div class="__sidebar_menu_column">
                        <input type = "button" value = "END GAME" class= "__sidebar_item_action --end_game_btn --invis">
                        <input type = "button" value = "LEAVE GAME" class= "__sidebar_item_action --leave_game_btn --invis">
                        <div class="">
                            <input type ="button" value="START GAME" class="__sidebar_item_action --start_btn --vis">
                            <input type ="button" value="READY" class="__sidebar_item_action --ready_btn --vis">
                        </div>
                        {% if user.username == game.host %}
                        <input type ="button" value="DELETE" class="__sidebar_item_action --delete_btn --vis">
                            {% endif %}
                        <input type ="button" value="HOME" class="__sidebar_item_action --home_btn"> 
                    </div>
            </article>
        <hr>
        <div class="game_section_sidebar_bottom">
            <div class = "host_info">
                <h5 class = "notification-item --game_state"></h5>
            </div>
            <hr>
            <p class = "players_in_game --invis"> </p>
            <hr>
            <div class = '--menu'>
              <p class="player_turn_text --invis"></p>
                <p class = "players_ready_text --vis">Players ready:</p>         
                <p class="max_players --vis">Max Players: {{game.max_players}}</p>
            </div>
            <hr>

            <p class="notification-board"> Let's play a game!<p>
        </div>
    </section>
    <section class="preloader --visible">
        <div class="preloadBar"><h1 class="loaderHeading">Loading...</h1></div>
    </section>
    
<script type="module" src="{% static 'js/receiver.js' %}"></script>
<script type="module" src="{% static 'js/game.js' %}"></script>
{% endblock %}
