{% extends 'base.html' %}
{% load static %}

{% block title %}
Mini Game: {{game.name}}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}"> 
{% endblock %}

{% block content %}
<div class="content-container"></div>
    <section class="game_section game_section_board">
        <h1>board</h1>
    </section>
    <section class = "game_section game_section_sidebar">
        <h4>Hosted by {{game.host}}</h4>
        {% if game.is_played %}
        <h5 class = "--green"">Game has already started!</h5>
            {% else %}
        <h5 class  = "--gray">Game hasn't started yet.</h5>
            {% endif %}
        <hr>

            {% if game.is_played %}
                Players in game: (
                {% for player in players_playing %}
                {{player}},
                {% endfor %}

        )<hr>
        <ul>
             {{game.turn_of_player}} turn!
            {% else %}
            <li>Players Ready :{{game.how_many_players_ready}} ({% for player in players_ready %}
                {{player}},
                {% endfor %}
            )
        </li>
        <li>Max Players: {{game.max_players}}</li>
        {% endif %}


    </ul>
    </p>
    </div>
    </div>
<div class = "col-sm-4">
    <div class = 'jumbotron'>
        <div class = 'row'><h4 style="text-align:center">Menu</h4>
        <ul>
            {% if player_in_game %}
            <li><h4><a href ="{% url 'game_end_turn' game.id%}"><span style ="color:blue; text-align:center;">End Turn</span></a></h4></li>
            <li><h4><a href ="{% url 'game_end' game.id%}"><span style ="color:red; text-align:center;">End Game</span></a></h4></li>
            <li><h4><a href ="{% url 'game_leave' game.id%}"><span style ="color:gray; text-align:center;">Leave Game</span></a></h4></li>
            {% elif  game.is_played %}

            <strong>Spectator Mode</strong>
                {% else %}
                <li><h4><a href ="{% url 'game_start' game.id%}"><span style ="color:gray; text-align:center;">Start Game</span></a></h4></li>
                <li><h4><a href ="{% url 'player_ready' game.id%}"><span style ="color:green; text-align:center;">Ready</span></a></h4></li>
                {% endif %}
            {% if user.username == game.host %}
            <li><h4><a href ="{% url 'delete_gam' game.id%}"><span style ="color:red; text-align:center;">Delete</span></a></h4></li>

            {% endif %}



            <li><h4><a href ="{% url 'home'%}"><strong>Home</strong></a></h4></li>
        </ul>
    </div>
        </div>
        </section>
</div>
{% endblock %}
