.content-container {
  display: grid;
  grid-template-areas: "board board sidebar";
}

.game_section {
  height: 100%;
  border: 5px solid black;
}

.game_section_board {
  background-color: red;
  grid-area: board;
}
.game_section_sidebar {
  background-color: coral;
  grid-area: sidebar;
}
.game_section_sidebar_top {
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: center;
}
.sidebar_top__player_info {
  background-color: aqua;
  height: 20%;
  border: 2px solid black;
}
.sidebar_top__game_stats {
  background-color: blue;
  height: 20%;
  border: 2px solid black;
}

.sidebar_top__game_actions {
  background-color: lavenderblush;
  height: 30%;
  border: 2px solid black;
}

.sidebar_top__global_actions {
  background-color: yellow;
  height: 30%;
  border: 2px solid black;
}
.--blue {
  color: blue;
}
.--green {
  color: green;
}
.--gray {
  color: gray;
}
