.content-container {
  display: flex;
  margin: 20px;
  height: 90vh;
  width: 86vw;
}

.user_menu,
.lobby {
  border: 2px solid black;
  border-radius: 10px;
}

.lobby {
  width: 70%;
  background-color: var(--main-color-alpha);
}

.__header {
  color: var(--font-color);
  background-color: var(--main-bars-color);
  text-align: center;
}

.games_list {
  list-style: none;
}
.game_list__game {
  margin-left: 7%;
  position: relative;
}
.game_list__container:hover {
  background-color: rgba(100, 100, 100, 0.5);
  cursor: pointer;
}

.game_list__room {
  text-decoration: none;
  color: var(--font-color);
}

.__game_status,
.__players_status {
  position: absolute;
}

.__game_status {
  left: 40%;
}

.__players_status {
  right: 10%;
}

.new_game_form {
  margin: 40px 0;
}

.--blue {
  color: blue;
}

.--green {
  color: rgb(14, 122, 23);
}

.--gray {
  color: rgb(201, 181, 181);
}

.--red {
  color: red;
}
