{% extends 'base.html' %} {% load static %} {% block title %} Welcome to Nova!
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<section class="lobby">
  <div class="__header">
    <h3>Games list:</h3>
  </div>
  <hr />
  <ul class="games_list">
    {% for g in games %}
    <li class="game_list__game">
      <a class="game_list__room" href="{% url 'detail' g.id %}">{{g.name}}</a>
      {% if g.is_played %}

      <span class="__game_status --gray">Game Started</span>
      {% else %}
      <span class="__game_status --green">Game hasn't started yet.</span>
      {% if g.how_many_players_ready == 4 %}
      <span class="__players_status --red"> Full</span> {% else %}
      <span class="__players_status">
        {{g.how_many_players_ready}} players ready{% endif %}
      </span>
      {% endif %}
    </li>
    <hr />
    {% endfor %}
  </ul>
</section>
<section class="user_menu">
  <div class="__header">
    <h1>Welcome {{player}}!</h1>
  </div>
  <hr />
  <h3>Create Game</h3>
  <form method="POST" action='{% url "new_room"%}'>
    {% csrf_token %} {{form}}
    <button type="submit" name="create" value="ok">Create Room</button>
  </form>
</section>
{% endblock %}
