{% extends 'base.html' %}
{% load static %}

{% block title %}
Account Settings
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}"> 
{% endblock %}

{% block content %}
<h1 class="main_heading">Your Profile:</h1>
<div class="acc_content">
    <section class="acc_data">
        <img class="userImage" src="{%static 'img/placeholder.png'%}" alt="">
            <ul class = "acc_list">
                <li>Account name:<strong> {{user.username}}</strong></li>
                <li>Nick: <strong>{{player}}</strong></li>
                <li>
                    Game you're hosting:{% for g in games %}
                    <strong>{{g.name}}</strong>,

                    {% endfor %}

                </li>
                <li>Games played:</li>
                <li>Games won:</li>
            </ul>
                
    </section>
    <section class="acc_edit">
        <h4>Edit Account:</h4>
        <hr>
        <form method ="POST" action = '{% url 'change_nick' %}'></form>
        {% csrf_token %}
        {{form}}
            <button type = 'submit' name="create" value = 'ok'>Change Nick</button>
            </form>
            <hr>
            <h4> Description:</h4>
            <p>
                {{description}}
            </p>
            <a href='{% url "edit_description" user.username%}'>Edit Description</a>
</section>
</div>

{% endblock %}
