{% extends 'base.html' %}

{% block title %}
Welcome to Mini Game!
{% endblock %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{%block css%}

{% endblock %}
{% block content %}
<h1 class="gray">{{game.name}}</h1>
<hr>

<h4>Hosted by {{game.host}}/
 {% if game.is_played %}
    <p class = "green">Game has already started!</p>
    {% else %}
    <p class = "gray">Game hasn't started yet.</p>
    {% endif %}
</h4>
<hr>
<div class = 'row'>
    <p>
        DASDSASDLAKSD SPAM SPAM SDASMDSAMDSAM  MSADMASMD MDASMDSAMDSA
        <ul>
        <li>Players Ready :{{game.players_ready}} ({% for player in players_ready %}
            {{player}},
            {% endfor %}
            )
        </li>
        <li>Max Players: {{game.max_players}}</li>

    </ul>
    </p>
    </div>
    </div>
<div class = "col-sm-4">
    <div class = 'jumbotron'>
        <div class = 'row'><h4 style="text-align:center">Menu</h4>
        <ul>
            {% if game.is_played %}
            <li><a href ="{% url 'game_end' game.id%}"><p class = '_menu_item --blue'>End Turn</p></a></li>
            <li><a href ="{% url 'game_end' game.id%}"><p class = '_menu_item --red'>End Game</p></a></li>
            <li><a href ="{% url 'game_end' game.id%}"><p class = '_menu_item --gray'>Leave Game</p></a></li>
            {% else %}

            <li><a href ="{% url 'game_start' game.id%}"><a class='_menu_item --gray'>Start Game</p></a></li>
            <li><a href ="{% url 'player_ready' game.id%}"><p class ='_menu_item --green'>Ready</p></a></li>
            {% if user.username == game.host %}
            <li><a href ="{% url 'delete_gam' game.id%}"><p class = '_menu_item --red'>Delete</p></a></li>
            {% endif %}
            {% endif %}



            <li><h4><a href ="{% url 'home' 'pusty'%}"><strong>Home</strong></a></h4></li>
        </ul>
    </div>
        </div>
</div>
{% endblock %}
