{% load static %}

<!doctype html>
<html class="no-js" lang="en-en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
        {% block css %}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
 
</head>
<body>
   <nav class="navbar">
        <ul class ='navbar-list'>
            <li><a class="navbar-item" href="/">Home</a></li>
                {% if user.is_authenticated %}
            <li><a class="navbar-item" href="{% url 'player_account' user.username "pusty"%}">Account</a></li>
            <li><a class="navbar-item" href="{% url 'player_logout' %}">Logout</a></li>
                {% else %}
            <li><a class="navbar-item" href="{% url 'player_login' %}"> Login </a> </li>
                {% endif %}
            </ul>
        </nav>
        <div class ="bg">
            <section class='s_main'> 
                <div class="content-container">
                    {% block content %}
                    {% endblock %}
                 </div>
            </section>
        </div>
    <footer>
        Made by .tore
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
